extends layout.pug

block navItemOne
    div(class="fs-3")
        ul(class="nav")
            li(class="nav-item")
                i(class="bi bi-house-door-fill me-4")
            li(class="nav-item")
                a(class="nav-link text-dark" href="/dashboard") Startseite

block navItemTwo
    div(class="d-grid gap-2 col-7 mb-2" id="navButtons")
        a(class="btn btn-primary" role="button" href="/login") Login

block navItemThree
    div(class="d-grid gap-2 col-7 mb-2")
        a(class="btn btn-primary" role="button" href="/registration") Registrieren

block main_content
